@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Remove old font imports if Inter is replacing them entirely */
/* @import '../public/fonts/druk-cyr/stylesheet.css'; */
/* @import '../public/fonts/inter-tight/inter-stylesheet.css'; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  background-image: url("../public/images/kayen-landing-page-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  /* font-family: 'Druk Cyr', 'InterTight'; */ /* Replaced by Tailwind's font-sans utility */
}
